.info {
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .imgContainer {
    width: 300px;
    background-color: antiquewhite;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      width: 300px;
    }
  }
  li {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    input {
      height: 40px;
    }
  }
}
