@import '../../styles/variables.scss';

.writing {
  .imgContainer {
    width: 500px;
    height: 500px;
    background-color: gray;
    img {
      width: 500px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    div {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    textarea {
      height: 150px;
    }
  }
  .btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

.notice {
  background-color: $grayBack;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .content {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .isNotice {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: red;
    color: white;
  }
}

.requestItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background-color: $point;
    color: white;
    padding: 5px;
    margin-left: 5px;
  }
}

.notices {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.memberList {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  .memberItem {
    background-color: $grayBack;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.userList {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.mainItem {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 10fr 2fr;
  text-align: center;
}

.postBtns {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.postList {
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 50px);
  text-align: center;
  gap: 15px;
  column-gap: 40px;
  .postItem {
    display: grid;
    grid-template-columns: 90px 10px 400px 100px;
    padding: 15px;
    background-color: $grayBack;
  }
}
