.map {
  width: 1400px;
  height: 400px;
  background-color: white;
}

.myGroup {
  width: 600px;
  height: 200px;
  background-color: white;
}

.myUser {
  width: 600px;
  height: 200px;
  background-color: white;
}
