.itemContainer {
  cursor: pointer;
  height: 100%;
  width: 500px;
  display: flex;
  padding: 20px;
  background-color: #ededed;
  border-radius: 15px;
  justify-content: space-between;
  gap: 20px;
  .imgContainer {
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  img {
    width: 200px;
  }
  .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    label {
      font-size: 17px;
    }
    div {
      font-size: 20px;
    }
  }
}
