form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

label {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

input,
textarea {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

input::placeholder,
textarea::placeholder {
  color: #999;
}

input:hover,
textarea:hover {
  border-color: #66afe9;
}

input.wrong,
textarea.wrong {
  border: 2px solid #af0000;
  box-shadow: 0 0 5px rgba(248, 0, 0, 0.5);
  outline: none;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0 20px 0;
}
