@import '../../styles/variables.scss';

.info {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .imgContainer {
    width: 300px;
    background-color: antiquewhite;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      width: 300px;
    }
  }
  li {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    input {
      height: 40px;
    }
  }
}

.shortBox {
  width: 100%;
  height: 31vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.myGroup {
  overflow: hidden;
  position: relative;
  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }

  .delete {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.requestItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background-color: $point;
    color: white;
    padding: 5px;
    margin-left: 5px;
  }
}
