@import '../../styles/variables.scss';

.pageNav {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  gap: 20px;

  button {
    width: 100%;
    border-radius: 10px;
  }
  .activeNav {
    background-color: #c1c1c1;
  }
}

.plogging {
  .imgContainer {
    width: 500px;
    height: 500px;
    background-color: gray;
    img {
      width: 500px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    div {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    textarea {
      height: 150px;
    }
  }
  .btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

.errorModal {
  position: fixed;
  top: 5%;
  right: 30%;
  left: 30%;
  height: 80px;
  background-color: rgb(0, 56, 8);
  z-index: 99999;
  border-radius: 15px;
  color: white;
  div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    button {
      position: absolute;
      color: white;
      background-color: gray;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      top: -10%;
      right: -1%;
    }
  }
}

.pagenation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    gap: 10px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    li {
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 35px;
      border-radius: 50%;
      cursor: pointer;
    }
    .active {
      color: $point;
      font-size: 22px;
    }
    li:hover {
      color: $point;
    }
    .disabled {
      font-size: 15px;
      cursor: not-allowed;
      color: gray;
    }
  }
}
