@import '../../styles/variables.scss';

.pageNav {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  gap: 20px;

  button {
    width: 100%;
    border-radius: 10px;
  }
  .activeNav {
    background-color: #dddddd;
  }
}

.plogging {
  width: 50vw;
  .imgContainer {
    width: 300px;
    height: 300px;
    img {
      width: 300px;
    }
  }
  label {
    width: 150px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .time,
    .location {
      justify-content: space-between;
    }
  }
  textarea {
    height: 100px;
  }

  .btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

.errorModal {
  position: fixed;
  top: 5%;
  right: 30%;
  left: 30%;
  height: 80px;
  background-color: rgb(0, 56, 8);
  z-index: 99999;
  border-radius: 15px;
  color: white;
  div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    button {
      position: absolute;
      color: white;
      background-color: gray;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      top: -10%;
      right: -1%;
    }
  }
}

.pagenation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    gap: 10px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    li {
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 35px;
      border-radius: 50%;
      cursor: pointer;
    }
    .active {
      color: $point;
      font-size: 22px;
    }
    li:hover {
      color: $point;
    }
    .disabled {
      font-size: 15px;
      cursor: not-allowed;
      color: gray;
    }
  }
}

.imgContainer {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
  img {
    width: 300px;
  }
}
#proggingPreviewImg {
  width: 300px;
}

.show {
  .content {
    display: grid;
    grid-template-rows: repeat(6, 60px);
    div {
      display: grid;
      grid-template-columns: 80px 60px 300px;
      div {
        display: flex;
        justify-content: center;
      }
    }
    select {
      height: 30px;
    }
    input {
      height: 30px;
    }
  }
}

.commentList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentItem {
  display: grid;
  grid-template-columns: 60px 300px 120px 120px 150px;
  background-color: $grayBack;
  padding: 5px;
  border-radius: 4px;
  align-items: center;
  gap: 20px;
  .commentItemContent {
    display: flex;
    align-items: center;
    height: 30px;
    span {
      display: inline-block;
      margin-right: 5px;
      font-weight: 700;
    }
  }
  .btns {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }
  button {
    background-color: $point;
    color: white;
    border-radius: 4px;
    padding: 5px;
  }
}

.commentAdd {
  display: flex;
  width: 100%;
}
