.container {
  width: 40%;
  height: 80vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  // 투명도 넣어봤습니다
  background-color: rgb(255, 255, 255, 0.8);
  padding: 20px;
  padding-top: 50px;

  .error-message {
    color: red;
    font-size: 12px;
    // margin-top: 3px;
    margin-bottom: 10px;
  }

  label {
    font-weight: 700;
  }

  input {
    font-weight: 700;
    padding: 10px;

    ::placeholder {
      font-weight: 700;
    }
  }

  button {
    margin-top: 50px;
    padding: 15px;
    background-color: #00821D;
    border-radius: 20px;
    font-weight: 700;
    color: white
  }
}


.logincontainer {
  width: 40%;
  height: 90vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  // 투명도 넣어봤습니다
  background-color: rgb(255, 255, 255, 0.8);
  padding: 20px;

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: -50px;
  }

  label {
    font-weight: 700;
    margin-bottom: -50px;
  }

  input {
    font-weight: 700;
    padding: 10px;

    ::placeholder {
      font-weight: 700;
    }
  }

  .previous {
    background-color: red;

  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    /* 세로 방향으로 정렬 */
    align-items: center;
    justify-content: center;

    @media(max-width:800px) {}

    button {
      width: 30%;
      padding: 15px;
    }

    .localLogin {

      background-color: #00821D;
      border-radius: 20px;
      font-weight: 700;
      color: white;
      align-items: center;
    }

    .kakaoLogin {
      width: 30%;
      padding: 15px;
      background-color: #ffe812;
      border-radius: 20px;
      font-weight: 700;
      color: black;
      align-items: center;
    }
  }

}

//일단 대충 레이아웃 볼라고 body랑 메인은 갖고 왔ㅇ서요
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: #D9D9D9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}